module.exports = {
  frontendServer: "https://next.fractal.id",
  authServer: "https://auth.next.fractal.id",
  resourceServer: "https://resource.next.fractal.id",

  client_id: "CLIENT_ID",
  client_secret: "CLIENT_SECRET",

  scope: "contact:read verification.basic:read verification.basic.details:read verification.liveness:read verification.liveness.details:read",
  redirect_uri: "http://localhost:8080/oauth/callback",
};
