module.exports = {
  frontendServer: "https://next.fractal.id",
  authServer: "https://auth.next.fractal.id",
  resourceServer: "https://resource.next.fractal.id",

  client_id: "CLIENT_ID",
  client_secret: "CLIENT_SECRET",

  scope: "uid:read email:read person.full_name:read verification.v1:read",
  redirect_uri: "http://localhost:8080/oauth/callback",
};
